USE [master]
GO
/****** Object:  Database [OurWater]    Script Date: 09/04/2026 20:28:38 ******/
CREATE DATABASE [OurWater]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OurWater].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OurWater]
GO
USE [OurWater]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerId] [int] NOT NULL,
	[consumptionRecordId] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[status] [varchar](16) NOT NULL,
	[rejectionReason] [varchar](300) NOT NULL,
	[imagePath] [varchar](128) NULL,
	[deadline] [datetime] NOT NULL,
	[updatedAt] [datetime] DEFAULT GETDATE(),
	[createdAt] [datetime] DEFAULT GETDATE(),
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumptionDebitRecords]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumptionDebitRecords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inputtedBy] [int] NOT NULL,
	[correctedBy] [int] NULL,
	[customerId] [int] NOT NULL,
	[debit] [decimal](18, 2) NOT NULL,
	[date] [date] NOT NULL,
	[status] [varchar](16) NOT NULL,
	[rejectionReason] [varchar](300) NOT NULL,
	[imagePath] [varchar](128) NOT NULL,
	[location] [varchar](128) NOT NULL,
	[updatedAt] [datetime] DEFAULT GETDATE(),
 CONSTRAINT [PK_ConsumptionDebitRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FineRules]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineRules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[startDay] [int] NOT NULL,
	[endDay] [int] NULL,
	[fineAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FineRule] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fines]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[billId] [int] NOT NULL,
	[fineRuleId] [int] NOT NULL,
	[createdAt] [datetime] DEFAULT GETDATE(),
 CONSTRAINT [PK_Fine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDebitRecords]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDebitRecords](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[inputtedBy] [int] NOT NULL,
	[debit] [decimal](18, 2) NOT NULL,
	[date] [date] NOT NULL,
	[location] [varchar](128) NOT NULL,
 CONSTRAINT [PK_ProductionDebitRecord] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09/04/2026 20:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[fullname] [varchar](50) NOT NULL,
	[role] [varchar](16) NOT NULL,
	[address] [varchar](128) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FineRules] ON 

INSERT [dbo].[FineRules] ([id], [startDay], [endDay], [fineAmount]) VALUES (1, 3, 6, CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[FineRules] ([id], [startDay], [endDay], [fineAmount]) VALUES (2, 7, 13, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[FineRules] ([id], [startDay], [endDay], [fineAmount]) VALUES (3, 14, NULL, CAST(20000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FineRules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [fullname], [role], [address]) VALUES (1, N'admin', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Administrator', N'admin', N'Bumi')
INSERT [dbo].[Users] ([id], [username], [password], [fullname], [role], [address]) VALUES (2, N'officer1', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Lorem Dolor', N'officer', N'Bumi')
INSERT [dbo].[Users] ([id], [username], [password], [fullname], [role], [address]) VALUES (3, N'budi', N'5e884898da28047151d0e56f8dc6292773603d0d6aabbdd62a11ef721d1542d8', N'Budi Amet', N'customer', N'Bumi')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bill_ConsumptionDebitRecord] FOREIGN KEY([consumptionRecordId])
REFERENCES [dbo].[ConsumptionDebitRecords] ([id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bill_ConsumptionDebitRecord]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Users] FOREIGN KEY([customerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bill_Users]
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionDebitRecord_Users] FOREIGN KEY([inputtedBy])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords] CHECK CONSTRAINT [FK_ConsumptionDebitRecord_Users]
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionDebitRecord_Users1] FOREIGN KEY([customerId])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords] CHECK CONSTRAINT [FK_ConsumptionDebitRecord_Users1]
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords]  WITH CHECK ADD  CONSTRAINT [FK_ConsumptionDebitRecord_Users2] FOREIGN KEY([correctedBy])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ConsumptionDebitRecords] CHECK CONSTRAINT [FK_ConsumptionDebitRecord_Users2]
GO
ALTER TABLE [dbo].[Fines]  WITH CHECK ADD  CONSTRAINT [FK_Fine_Bill] FOREIGN KEY([billId])
REFERENCES [dbo].[Bills] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [FK_Fine_Bill]
GO
ALTER TABLE [dbo].[Fines]  WITH CHECK ADD  CONSTRAINT [FK_Fine_FineRule] FOREIGN KEY([fineRuleId])
REFERENCES [dbo].[FineRules] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Fines] CHECK CONSTRAINT [FK_Fine_FineRule]
GO
ALTER TABLE [dbo].[ProductionDebitRecords]  WITH CHECK ADD  CONSTRAINT [FK_ProductionDebitRecord_Users] FOREIGN KEY([inputtedBy])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[ProductionDebitRecords] CHECK CONSTRAINT [FK_ProductionDebitRecord_Users]
GO
USE [master]
GO
